{% extends "base.html" %}

{% block title %}HelpDesk-Список задач{% endblock %}
{% block content %}
<SCRIPT>
function highlight(element_id){
  var IE = "\v"=="v"
  x = document.getElementById(element_id);

  if (x.style.backgroundColor != "yellow") x.style.backgroundColor = "yellow";
  else 
    {if (!IE) x.style.backgroundColor = "inherit";
     else x.style.backgroundColor = "transparent";
    }  

  
}
</script>
    {% if applicant %}
        <button onclick="parent.location='/tasklist/?status=None&applicant={{applicant}}'">Все</button>
        <button onclick="parent.location='/tasklist/?status=new&applicant={{applicant}}'">Новые</button>
        <button onclick="parent.location='/tasklist/?status=set&applicant={{applicant}}'">Назначенные</button>
        <button onclick="parent.location='/tasklist/?status=not_open&applicant={{applicant}}'">Все ещё не в обработке</button>
        <button onclick="parent.location='/tasklist/?status=open&applicant={{applicant}}'">В обработке</button>
        <button onclick="parent.location='/tasklist/?status=not_ready&applicant={{applicant}}'">Все ещё неготовые</button>
        <button onclick="parent.location='/tasklist/?status=ready&applicant={{applicant}}'">Готовые</button>
        <button onclick="parent.location='/tasklist/?status=not_closed&applicant={{applicant}}'">Все незакрытые</button>
        <button onclick="parent.location='/tasklist/?status=closed&applicant={{applicant}}'">Закрытые</button>
        <button onclick="parent.location='/tasklist/?status=pending&applicant={{applicant}}'">Отложенные</button>
    {% else %}
       {% if responsible %}
            <button onclick="parent.location='/tasklist/?status=None&responsible={{responsible}}'">Все</button>
            <button onclick="parent.location='/tasklist/?status=new&responsible={{responsible}}'">Новые</button>
            <button onclick="parent.location='/tasklist/?status=set&responsible={{responsible}}'">Назначенные</button>
            <button onclick="parent.location='/tasklist/?status=not_open&responsible={{responsible}}'">Все ещё не в обработке</button>
            <button onclick="parent.location='/tasklist/?status=open&responsible={{responsible}}'">В обработке</button>
            <button onclick="parent.location='/tasklist/?status=not_ready&responsible={{responsible}}'">Все ещё неготовые</button>
            <button onclick="parent.location='/tasklist/?status=ready&responsible={{responsible}}'">Готовые</button>
            <button onclick="parent.location='/tasklist/?status=not_closed&responsible={{responsible}}'">Все незакрытые</button>
            <button onclick="parent.location='/tasklist/?status=closed&responsible={{responsible}}'">Закрытые</button>
            <button onclick="parent.location='/tasklist/?status=pending&responsible={{responsible}}'">Отложенные</button>
         {% else %}
            <button onclick="parent.location='/tasklist/?status=None'">Все</button>
            <button onclick="parent.location='/tasklist/?status=new'">Новые</button>
            <button onclick="parent.location='/tasklist/?status=set'">Назначенные</button>
            <button onclick="parent.location='/tasklist/?status=not_open'">Все ещё не в обработке</button>
            <button onclick="parent.location='/tasklist/?status=open'">В обработке</button>
            <button onclick="parent.location='/tasklist/?status=not_ready'">Все ещё неготовые</button>
            <button onclick="parent.location='/tasklist/?status=ready'">Готовые</button>
            <button onclick="parent.location='/tasklist/?status=not_closed'">Все незакрытые</button>
            <button onclick="parent.location='/tasklist/?status=closed'">Закрытые</button>
            <button onclick="parent.location='/tasklist/?status=pending'">Отложенные</button>
         {% endif %}
    {% endif %}
    <table border="4" cellspacing="1" cellpadding="4">
    <caption><h3>Список заявок {{ status_name }}</h3></caption>
      <tr class="tabcolhead" border="4" align='center' bgcolor='green'>
          <td>ID заявки</td>
          <td>Дата заявки</td>
          <td>Предмет заявки</td>
          {% if all_cols %}
          <td>Заявитель</td>
          {% endif %}
          <td>Исполнитель</td>
          <td>Срок</td>
          <td>Дата закрытия</td>
          <td>Статус заявки</td>
          <td>Приоритет</td>
          <td>Категории</td>
          <td>Модуль</td>
      </tr>
    {% for task in object_list %}
      <tr id="{{ task.id }}"  onmouseover="highlight({{ task.id }})" 
                              onmouseout="highlight({{ task.id }})" 
                              onclick="location.assign('/taskdetail/{{ task.id }}/?view=yes')">
        <td>{{ task.id }}</td>
        <td>{{ task.date_open|date:'d.m.Y'  }}</td>
        <td><a href="/taskdetail/{{ task.id }}/?view=yes">{{ task.name }}</a></td>
        {% if all_cols %}
        <td>{{ task.get_applicant_name }}</td>
        {% endif %}
        <td>{{ task.get_developer_name }}</td>
        <td>{{ task.deadline|date:'d.m.Y'  }}</td>
        <td>{{ task.date_close|date:'d.m.Y'  }}</td>
        <td nowrap>{{ task.get_status_name }}</td>
        <td>{{ task.get_urgent_important }}</td>
        <td>
            {% for item in task.category.all%}
              {{item}}<br>
            {% endfor%}
        </td>
        <td>{{ task.module }}</td>
      </tr>      
    {% endfor %}
    </table>                     
    <p></p>
    <table align="center">
      <tr>
        {% if page_obj.number > 1 %}
          {% if status %}
            {% if p_where %}
              <td><a href="/tasklist/1/?status={{ status }}&p_where={{ p_where }}">"Первая"</a></td>
            {% else %}
              <td><a href="/tasklist/1/?status={{ status }}">"Первая"</a></td>
            {% endif %}
          {% else %}
            <td><a href="/tasklist/1/">"Первая"</a></td>
          {% endif%}
        {% endif %}
        {% if page_obj.has_previous %}

          {% if status %}
            {% if p_where %}
              <td><a href="/tasklist/{{ page_obj.previous_page_number }}/?status={{ status}}&p_where={{ p_where }}">"Предыдущая"</a></td>
            {% else %}
              <td><a href="/tasklist/{{ page_obj.previous_page_number }}/?status={{ status}}">"Предыдущая"</a></td>
            {% endif %}
          {% else %}
            <td><a href="/tasklist/{{ page_obj.previous_page_number }}/">"Предыдущая"</a></td>
          {% endif%}

        {% endif %}
        <td>Стр. {{ page_obj.number }} из {{ paginator.num_pages }}</td>
        {% if page_obj.has_next %}

          {% if status %}
            {% if p_where %}
              <td><a href="/tasklist/{{ page_obj.next_page_number }}/?status={{ status}}&p_where={{ p_where }}">"Следующая"</a></td>
            {% else %}
              <td><a href="/tasklist/{{ page_obj.next_page_number }}/?status={{ status}}">"Следующая"</a></td>
            {% endif %}
          {% else %}
            <td><a href="/tasklist/{{ page_obj.next_page_number }}/">"Следующая"</a></td>
          {% endif%}

        {% endif %}
        {% if page_obj.has_next %}

          {% if status %}
            {% if p_where %}
              <td><a href="/tasklist/{{ page_obj.paginator.num_pages }}/?status={{ status}}&p_where={{ p_where }}">"Последняя"</a></td>
            {% else %}
              <td><a href="/tasklist/{{ page_obj.paginator.num_pages }}/?status={{ status}}">"Последняя"</a></td>
            {% endif %}
          {% else %}
            <td><a href="/tasklist/{{ page_obj.paginator.num_pages }}/">"Последняя"</a></td>
          {% endif%}

        {% endif %}
      </tr>
    </table>
{% endblock %}
